.bg2 {
  padding: 4vw 0;
  background: #fafafa;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  .texts {
    margin: 0 auto;
    width: max(375px, 40vw);
    text-align: center;
    color: #000;
  }
  img {
    width: max(375px, calc(1080 / 1920 * 100%));
    @media (max-width: 600px) {
      width: 80vw;
    }
  }
}

.bg3 {
  padding: 4vw 0;
  background: #fafafa;
  text-align: center;
  display: flex;
  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: max(375px, 60vw);
  .desc {
    width: 15vw;
    display: flex;
    flex-direction: column;
    @media (max-width: 600px) {
      flex-direction: row;
      gap: 1rem;
      width: 70vw;
      justify-content: flex-start;
      & > svg {
        width: 2rem;
        height: 2rem;
      }
      & > *:nth-child(2) {
        width: 3rem;
        text-align: start;
      }
    }
    justify-content: center;
    align-items: center;
    color: #000;
    h6 {
      &.grey {
        color: #2d2d2d;
        opacity: 0.5;
        margin: 0;
      }
    }
  }
}
