{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,

  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": true,
  "insertPragma": false,
  "proseWrap": "preserve",
  "semi": false,
  "useTabs": false
}
