.footer {
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  .wrap {
    width: calc(1080 / 1920 * 100%);
    max-width: 1080px;
    .row_container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 2vw;
      .row_inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  .lower {
    color: rgba(0, 0, 0, 0.3);
  }

  a {
    color: rgba(0, 0, 0, 0.6);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 90px;
  padding: 0.8vw;
  margin: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2vw;
  a {
    color: rgba(255, 255, 255, 0.6);
  }
  .row_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    .row_inner {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &.down {
    a {
      color: rgba(0, 0, 0, 0.6);
    }
    background: #fff;
    animation: mymove2 1s;
    @keyframes mymove2 {
      from {
        background-color: #0000;
      }
      to {
        background-color: #fff;
      }
    }
  }
}

.logo1 {
  width: 6.2vw;
}
.logo2 {
  width: 10.5vw;
}

.vr {
  display: block;
  width: 1px;
  height: 2rem;
  background-color: #c5c5c5;
  margin: 0 1rem;
}
