.bg2 {
  padding: 4rem 0;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  .texts {
    margin: 0 auto;
    width: max(360px, 40vw);
    text-align: center;
    color: #000;
  }
  .imagegrid {
    display: grid;
    width: min(1080px, 80vw);
    grid-template-columns: repeat(4, minmax(100px, auto));
    img {
      width: max(100px, 10vw);
    }
    .gray {
      color: rgba(45, 45, 45, 0.3);
    }
  }
  .pages {
    display: flex;
    gap: 1rem;
    div {
      cursor: pointer;
    }
    .active {
      font-weight: 900;
    }
  }
}
