.bg2 {
  padding: 4rem 0;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  .texts {
    margin: 0 auto;
    width: 40vw;
    text-align: center;
    color: #000;
  }
  img {
    padding: 1vw;
    width: max(320px, calc(1065 / 1920 * 100vw));
    height: max(214px, calc(670 / 1920 * 100vw));
    @media (max-width: 600px) {
      width: 90vw;
      height: 58vw;
    }
  }
}

.bg3 {
  padding: 4rem 0;
  background: #fafafa;
  width: 100vw;
  .wrap {
    background: #fafafa;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(320px, calc(1080 / 1920 * 100%));
    .texts {
      width: 33vw;
      color: #000;
    }
    .history {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // width: 100vw;
      svg {
        width: 1rem;
        max-width: 1rem;
      }
      .right {
        flex-direction: row;
        svg {
          // margin-left: -0.5rem;
          transform: translateX(-54%);
        }
      }
      .left {
        svg {
          // margin-right: -0.5rem;
          transform: translateX(54%);
        }
        flex-direction: row-reverse;
        border-right: 1px dashed #43e195;
      }
      * {
        display: flex;
        gap: 4px;
        justify-content: flex-start;
        align-items: center;
        font-size: max(10px, 1vw);

        p {
          color: rgba(45, 45, 45, 0.7);
        }
      }
    }
  }
}

.bg4 {
  padding: 4rem 0 4rem 0;
  background: #fafafa;
  text-align: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  .texts {
    width: 40vw;
    text-align: center;
    color: #000;
    h5 {
      color: rgba(45, 45, 45, 0.7);
    }
  }
  .partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60vw;
    gap: 2vw;
    div {
      background-color: #fff;
      width: 20vw;
      height: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80%;
        height: 50%;
        margin: auto;
        display: block;
        object-fit: scale-down;
      }
    }
  }
}
