html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard;
  overflow-x: hidden;
}
button {
  font-family: Pretendard;
}
* {
  box-sizing: border-box;
  word-break: keep-all;
}

main {
  width: 100%;
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin: 0.64vw 0;
  font-size: 3.2vw;
  line-height: 1.4;
}
h2 {
  margin: 0.56vw 0;
  font-size: 2.8vw;
  line-height: 1.4;
}
h3 {
  margin: 0.5vw 0;
  font-size: 2.5vw;
  line-height: 1.4;
}
h4 {
  margin: 0.44vw 0;
  font-size: 2.2vw;
  font-weight: normal;
  line-height: 1.4;
}
h5 {
  margin: 0.3vw 0;
  font-size: 1.4vw;
  font-weight: normal;
  line-height: 1.4;
}
h6 {
  margin: 0.2vw 0;
  font-size: max(12px, 1vw);
  line-height: 1.4;
  font-weight: normal;
}
*,
button {
  font-size: max(12px, 0.8vw);
  line-height: 1.4;
}

mark {
  font-size: inherit;
  color: #43e195;
  background-color: initial;
}
a {
  text-decoration: none !important;
  font-size: max(16px, 0.8vw) !important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
}

@media (max-width: 600px) {
}
