html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard;
}

* {
  box-sizing: border-box;
  font-size: 2vw;
}

main {
  width: 100%;
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: red;
}

h1 {
  font-size: 3.2vw;
}
h2 {
  font-size: 2.8vw;
}
h3 {
  font-size: 2.6vw;
}
h4 {
  font-size: 2.4vw;
}
h5 {
  font-size: 2.2vw;
}
h6 {
  font-size: 2vw;
}

a {
  text-decoration: none !important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8vw;
}
